<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Jumlah Buku</th>
    </tr>

    <% for (let i = 0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].id %></td>
      <td><%= data[i].name %></td>
      <td><%= data[i].age %></td>
      <td><%= data[i].gender %></td>
      <td><%= data[i].Books.length %></td>
    </tr>
    <% } %>
  </table>
</body>

</html>